# Client Environment Variables Template
NEXT_PUBLIC_API_URL=https://fitora-xrkh.onrender.com/api
NEXT_PUBLIC_SOCKET_URL=https://fitora-xrkh.onrender.com
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=fitora_secret_auth_key_2026_super_secure

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here
MONGODB_URI=your_mongodb_uri_here