# Client Environment Variables Template
NEXT_PUBLIC_API_URL=http://localhost:5001/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:5001


BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
MONGODB_URI=